html {
    scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.header {
    margin-top: 27px;
    margin-left: 123px;

    width: 1153px;
    height: 55px;
    border-radius: 100px;
    opacity: 1;

    display: flex;
    align-items: center;
}


.header_logo {
    position: relative;
    z-index: 10;

    width: 130px;
    height: 39px;
    
    border-radius: 100px;
    opacity: 1;
    background-color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo_link {
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #1BFF07;
    text-decoration: none;  
}

.header_menu {
    margin-left: 532px;

    position: relative;
    z-index: 10;
}

.header_menu_link {
    margin-right: 50px;
    
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.header_menu_link2 {
    margin-right: 0%;

    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.header_menu_link_active:hover {
    color:#1BFF07;
}

.background_photo {
    
    margin-top: -100px;
    
    width: 1400px;
    height: 765px;
    opacity: 1;

    background-image: url(../resources/my.jpg);
    
    background-size: cover;
    background-position: 0% 35%;
    
    position: absolute;
    background-repeat: no-repeat;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    height: 100%;
}

.offer p {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 0%;

    top: 260px;
    left: 125px;
    bottom: 29px;

    width: 430px;
    height: 103px;
    
    opacity: 1;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    
    color: #FFFFFF;
    
}

.offer h1 {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 94px;

    top: 399px;
    left: 119px;

    width: 919px;
    height: 205px;
    opacity: 1;
    font-weight: 400;
    font-size: 76px;
    line-height: 70px;
    color: #1BFF07;
}

.projects {
    margin-top: 665px;
    
    width: 1400px;
    height: 6941px;

    background-color: black;

    border: 1px solid #ee1c1c00;
}

.exemple_projects {
    margin-top: 150px;
    margin-left: 120px;
    margin-bottom: 150px;
    
    width: 1155px;
    height: 1995px;

    border: 1px solid #8d0def00;
}

.projects h2 {
    margin-top: 0%;
    margin-bottom: 40px;
    margin-left: 0%;

    width: 1048px;
    height: 72px;
    opacity: 1;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #FFFFFF;
}

.item_image {
    width: 1150px;
    height: 550px;
    border-radius: 30px;
    opacity: 1;
}

.item-project {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 5px;

    top: 1437px;
    left: 175px;
    bottom: 50px;

    width: 401px;
    height: 46px;
    opacity: 1;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.item_description {
    position: absolute;
    margin-top: 0%;

    top: 1488px;
    left: 175px;

    width: 506px;
    height: 39px;
    opacity: 1;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.item-project2 {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 5px;

    top: 1987px;
    left: 175px;
    bottom: 50px;

    width: 401px;
    height: 46px;
    opacity: 1;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.item_description2 {
    position: absolute;
    margin-top: 0%;

    top: 2038px;
    left: 175px;

    width: 506px;
    height: 39px;
    opacity: 1;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.item-project3 {
    position: absolute;
    margin-top: 0%;
    margin-bottom: 5px;

    top: 2537px;
    left: 175px;
    bottom: 50px;

    width: 401px;
    height: 46px;
    opacity: 1;
    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.item_description3 {
    position: absolute;
    margin-top: 0%;

    top: 2588px;
    left: 175px;

    width: 506px;
    height: 39px;
    opacity: 1;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.button_all_projects a {
    margin-top: 65px;

    width: 582px;
    height: 153px;
    border-radius: 10px;
    opacity: 1;
    display: grid;
    place-items: center;

    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
    
    color: #000000;
    background-color: #1BFF07;
    text-decoration: none;
}

.button_all_projects :hover {
    background-color: #000000;
    color: #1BFF07;
    border: 1px solid #1BFF07
}

.competencies {
    margin-left: 123px;
    margin-bottom: 150px;

    width: 1048px;
    height: 1377px;
    border-radius: 10px;
    
    border: 1px solid #f411c700;
}

.title_text_сompetencies {
    margin-top: 0%;
    margin-bottom: 104px;
    margin-left: 0%;

    width: 1048px;
    height: 72px;

    opacity: 1;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    letter-spacing: -3%;
    
    color: #FFFFFF;
}

.text_сompetencies_html {
    margin-bottom: 120px;

    width: 1048px;
    height: 177px;

    border: 1px solid #cfec1600;
    position: relative;
}

.text_сompetencies_html h1 {
    margin-top: 0%;
    margin-bottom: 15px;
    margin-left: 0%;

    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #1BFF07;
}

.text_сompetencies_html p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;

    width: 778px;
    height: 116px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.text_сompetencies_html::before {
    content: "";
    position: absolute;

    top: -60px;
    left: 2px;
    
    width: 45px;
    height: 44px;

    background-color: #1BFF07;
    border-radius: 10px;

    background-image: url(../resources/html.png);
    
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
}

.text_сompetencies_js {
    margin-bottom: 120px;

    width: 1048px;
    height: 177px;

    border: 1px solid #cfec1600;
    position: relative;
}

.text_сompetencies_js h1 {
    margin-top: 0%;
    margin-bottom: 15px;
    margin-left: 0%;

    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #1BFF07;
}

.text_сompetencies_js p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;

    width: 778px;
    height: 116px;
    
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.text_сompetencies_js::before {
    content: "";
    position: absolute;

    top: -60px;
    left: 2px;
    
    width: 45px;
    height: 44px;

    background-color: #1BFF07;
    border-radius: 10px;

    background-image: url(../resources/js.png);
    
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
}

.text_сompetencies_phone {
    margin-bottom: 120px;

    width: 1048px;
    height: 177px;

    border: 1px solid #cfec1600;
    position: relative;
}

.text_сompetencies_phone h1 {
    margin-top: 0%;
    margin-bottom: 15px;
    margin-left: 0%;

    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #1BFF07;
}

.text_сompetencies_phone p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;

    width: 778px;
    height: 116px;
    
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.text_сompetencies_phone::before {
    content: "";
    position: absolute;

    top: -60px;
    left: 2px;
    
    width: 45px;
    height: 44px;

    background-color: #1BFF07;
    border-radius: 10px;

    background-image: url(../resources/phone.png);
    
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
}

.text_сompetencies_web {
    width: 778px;
    height: 252px;

    border: 1px solid #cfec1600;
    position: relative;
}

.text_сompetencies_web h1 {
    margin-top: 0%;
    margin-bottom: 15px;
    margin-left: 0%;

    width: 651px;
    height: 92px;

    font-weight: 400;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #1BFF07;
}

.text_сompetencies_web p {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;

    width: 778px;
    height: 145px;
    
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.text_сompetencies_web::before {
    content: "";
    position: absolute;

    top: -60px;
    left: 2px;
    
    width: 45px;
    height: 44px;

    background-color: #1BFF07;
    border-radius: 10px;

    background-image: url(../resources/phone.png);
    
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 50%;
}

.tasks {
    margin-left: 125px;
    width: 1150px;
    height: 1890px;

    border: 1px solid #091fe900;
}

.title_text_tasks {
    margin-top: 0%;
    margin-bottom: 74px;

    width: 403px;
    height: 92px;
    
    opacity: 1;
    font-weight: 400;
    font-size: 33px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.tasks_image {
    width: 1150px;
    height: 200px;
    
    border-radius: 30px;
    opacity: 1;
}

.tasks_development {
    margin-top: 0%;
    margin-bottom: 74px;

    width: 1150px;
    height: 283px;

    border-radius: 30px;
    background-color: #191C19;
}

.task-project {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 53px;

    width: 1048px;

    opacity: 1;
    font-weight: 400;
    font-size: 54px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #1BFF07;
    
}

.tasks_description {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 40px;

    width: 749px;
    height: 116px;
    
    opacity: 1;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #FFFFFF;
}
.contacts {
    margin-top: 150px;
    margin-bottom: 150px;

    width: 1400px;
    height: 717px;
    
    opacity: 1;
    border-radius: 30px;
    background-color: #191C19;

    border: 1px solid #ee1c1c00;
}

.contacts_image {
    float: right;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.item_contacts {
    margin-top: 320px;
    margin-left: 125px;

    width: 310px;
    height: 308px;

    opacity: 1;
    border: 1px solid #ee1c1c00;
}

.item_contacts p {
    margin-top: 0%;
    margin-bottom: 28px;

    opacity: 1;
    font-weight: 400;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: -3%;
    color: #FFFFFF;
}

.contacts_link {
    margin-bottom: 20px;

    width: 310px;
    height: 60px;
    
    opacity: 1;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3%;
    color: #FFFFFF;
    text-decoration: none; 
} 

.contacts_link:hover {
    color: #1BFF07;
}

.footer {
    width: 1400px;
    height: 204px;
    
    opacity: 1;
    background-color: #FFFFFF;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.footer h1 {
    padding-top: 76px;
    margin-left: 125px;
    margin-bottom: 66px;

    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #000000;
}

.footer p {
    margin-left: 125px;

    opacity: 0.5;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -3%;
    color: #000000;
}